*{
    font-family: crassula, sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    text-align: center;
    color: green;
}
header>h1{
    font-size: 40px;

}
header>p{
    font-size: 23px;
    width: 40%;
    margin: auto;
}

/*stil for menyen*/
ul{
    list-style: none;
    background-color: rgb(58, 78, 2);
    width: 15%;
    float: left;
    margin: 0;
    padding: 0;
    border: outset 5px rgb(249, 174, 9);
    border-radius: 25px;
}

li a{
    display: block;
    width: 90%;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

li a:hover{
    background-color: greenyellow;

    border: inset 3px rgb(249, 174, 9);
    border-radius: 25px;
}

#wrapper{
    text-align: center;
    border: solid black;
    height: 500px;
}

#image-map{
    border: solid #ff0000;
    width: 60%;
}

.text-container{
    background-color: rgb(58, 78, 2);
    border: solid rgb(249, 174, 9);
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    width: 30%;

    text-shadow: 2px 2px 2px black;
}

.hvit-tekst{
    color: white;
}

.gul-tekst{
    color: rgb(249, 174, 9);
}

h2 {
  color: rgb(249, 174, 9);
  font-family: Bodoni URW;
  font-size: 40px;
}

.sub-title {
  font-family: Bodoni URW;
  font-size: 25px;
}

#maschmanns .info-block {
  background-image: url(./img/BildeMaschmanns.png);
  position: relative;
  background-attachment: fixed;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;

}

.info-block {
  position: absolute;
 background-color: rgb(58, 78, 2);
 color: white;
 padding-left: 20px;
 width: 600px;
 font-size: 17px;
}

.text-block h3{
  font-family: Bodoni URW;
}

.hours{
  font-family: crassula, sans-serif;
}

#jacobs .info-block{
  background-image: url(./img/BildeJacobs.jpg);
  position: relative;
  background-attachment: fixed;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

#landhendleriet .info-block{
  background-image: url(./img/BildeLandhandleriet.png);
  position: relative;
  background-attachment: fixed;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

#ekteVare .info-block{
  background-image: url(./img/BildeEkteVare.jpg);
  position: relative;
  background-attachment: fixed;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

footer{
  background-color: rgb(58, 78, 2);
  height: 150px;
  width: 100%;
}
