*{
    font-family: crassula, sans-serif; /* Fontkilde: https://fonts.adobe.com/fonts/crassula */
    font-weight: 400;
    font-style: normal;
    margin: auto;
    scroll-behavior: smooth;
}

body{
  background-color: bisque;
}

header{
    text-align: center;
    color: rgb(58, 78, 2);
    text-shadow: 1px 1px 1px rgb(249, 174, 9);
}
header>h1{
    font-size: 35px;

}
header>p{
    font-size: 20px;
    width: 40%;
    margin: auto;
}

/*stil for menyen*/
ul{
    list-style: none;
    background-color: rgb(58, 78, 2);
    width: 15%;
    float: left;
    margin: 0;
    padding: 0;
    border: outset 5px rgb(249, 174, 9);
    border-radius: 25px;
    position: absolute;
}

li a{
    display: block;
    width: 90%;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

li a:hover{
    background-color: rgb(10, 92, 10);
    border: inset 3px rgb(249, 174, 9);
    border-radius: 25px;
}

#wrapper{
    position: relative;
    width: 67%;


}

#image-map{
    width: 100%;
    z-index: -1;
}

.logoMaschmanns{
  z-index: 1;
  position: absolute;
  left: 5%;
  top: 78%;
  width: 140px;
}

.logoJacobs{
  z-index: 2;
  position: absolute;
  left: 34%;
  top: 42%;
  width: 140px;
}

.logoLandhandleriet{
  z-index: 1;
  position: absolute;
  left: 7%;
  top: 17%;
  width: 140px;

}

.logoEkteVare{
  z-index: 1;
  position: absolute;
  left: 67%;
  top: 33%;
  width: 140px;
}

.logoEkteVare:hover,.logoJacobs:hover,.logoLandhandleriet:hover,.logoMaschmanns:hover{
  border: rgb(249, 174, 9) outset;
  border-radius: 100%;
}

.text-container{
    background-color: rgb(58, 78, 2);
    border: outset rgb(249, 174, 9) 5px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    width: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hvit-tekst{
    color: white;
}

.gul-tekst{
    color: rgb(249, 174, 9);
}

h2 {
  color: rgb(249, 174, 9);
  /*Fontkilde: https://fonts.adobe.com/fonts/bodoni-urw */
  font-family: Bodoni URW;
  font-size: 40px;
}

.sub-title {
  font-family: Bodoni URW;
  font-size: 25px;
  padding-top: 20px;
  color: rgb(249, 174, 9);

}



.veibeskrivelse{
  font-family: Bodoni URW;
  font-size: 25px;
  color: white;
}

.veibeskrivelse:hover{
  color: rgb(249, 174, 9);
}

.info-butikker{
  border: solid lime;
  background-color: lime;
  z-index: 10;
}

.text-block h3{
  font-family: Bodoni URW;
}

.hours{
  font-family: crassula, sans-serif;
}

.container{
  position: relative;
  margin-top: 30px;
  height: 60%;
}

.butikk-bilde{
  width: 100%;
  height: 600px;;
  z-index: -1;
}

.info-block {
  position: absolute;
  background-color: rgb(58, 78, 2);
  color: white;
  padding-left: 20px;
  width: 30%;
  height: min-content;
  font-size: 17px;
  top: 10%;
  left: 60%;
  border: outset rgb(249, 174, 9) 4px;
  border-radius: 25px;
  text-shadow: 2px 2px 2px black;
  z-index: 1;
}

.adresse {
  font-size: 25px;
  color: rgb(249, 174, 9);
  font-family: Bodoni URW;
}

footer{
  background-color: rgb(58, 78, 2);
  height: 150px;
  width: 100%;
  padding-left: 20px;
  margin: 0px;
}

footer p{
  text-align: left;
  color: rgb(249, 174, 9);
}
